

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{ 
  font-family: 'IM Fell English', sans-serif;
  background: #fff;
  color: #fff;
  line-height: 1.5;
  
  
  

}

ul{
  list-style: none;
}

a{
  color: #333;
  text-decoration: none;
}

h1, h2{
  font-weight: 300;
  line-height: 1.2;
}

p{
  margin: 10px 0;
}

img{
  width: 100%;
}

/* text */


.text-primary{
  color:#A40606
}

/* nav */

.logo i{
  color:#A40606
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #111;
  color: #fff;
  opacity: 0.9;
  width: 100%;
  height: 70px;
  position: fixed;

  /* Z index not working */

  z-index: 20;
  top: 0px;
  padding: 0 30px;
}

.navbar a{
  color: #A40606;
  padding: 10px 15px;
  margin: 0 5px;
}

.navbar a:hover{
  border-bottom: #A40606 2px solid;
}

.navbar ul{
  display: flex;
}

.navbar .logo{
  font-weight: 400;
}

/* header */

.hero{
  background: url(../images/hero.jpg)  center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;

  

}

.hero .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1{
  font-size: 55px;
}

.hero .content p{
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  
  background: rgba(0,0,0,0.4);
}

.hero *{
  z-index: 2;
}

.hero.blog{
  background: url(../images/harbor.jpg) no-repeat center center/cover;
  height: 40vh;
}


/* features */



.features{
  padding: 30px;
  margin-bottom: 0;
  background-color: #111 ;
  
  

}

.features h2{
  text-align: center;
}

.features h3{
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.features img{
  
  padding: 1rem;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
 
 

}

.features .btn{
  display: flex;
  align-items: center;
  justify-content: center;
}



/* texts */


.text{
  
}








/* flex */

/* make smaller
  use this for media query, change direction to column

*/

.flex-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

}

.flex-items  div{
  padding: 20px;
}

/* Columns */



.flex-columns .row{

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
 
  
}

.flex-columns .column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  
}



.flex-columns .column .column1,
.flex-columns .column .column2{
 
 height: 100%;
}

.flex-columns img{

  width: 100%;
  height: 100%;
  
  
  

}

.flex-columns .btn{
  margin-left: auto;
  margin-right: auto;
}


.flex-columns .column2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding: 30px;
}

.flex-columns h2{
  font-size: 40px;
  text-align: center;
  margin: 5px auto 5px auto;
}

.flex-columns p{
  margin: 20px 0;
}

/* row reverse */
.flex-columns .row-reverse{

  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
 
  
}

.column2 h2{
  
  
}




/* buttons backgrounds */

.btn{
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #000;
  background-color: #A40606;
  border: none;
  border-radius: 5px;
}

.btn-amzn{

}

.btn:hover{
  opacity: 0.8;
}

.btn-primary, .bg-primary{
  background: #111;
  color: #fff;
}

.btn-secondary, .bg-secondary{
  background: #0284d0;
  color: #fff;
}

.btn-dark, .bg-dark{
  background: #111;
  color: #fff;
}

.btn-light, .bg-light{
  background: #f4f4f4;
  color: #333;
}



.btn-outline{
  background: transparent;
  border: 1px solid #fff;
}

/* responsive */

@media(max-width: 850px){

  .hero{
    background: url(../images/harbor.jpg)  center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;}



  .navbar{
    flex-direction: column;
    height: 120px;
    padding: 20px;

  }

  .navbar a{
    padding: 10px 10px;
    margin: 0 3px;
    font-size: 12px;
  }

  .hero .content h1{
  font-size: 25px;
  }

  .hero .content p{
    font-size: 16px;
  }


  .flex-items{
    flex-direction: column;
  }

  .flex-columns .column{
    flex: 100%;
    max-width: 100%;
  }

  .texts img{
    height: 20vh;
  }
}



/* contact form */

.callback-form{
  width:100%;
  padding: 100px 0;

}


.callback-from label{
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control{
  margin-bottom:15px;
}

.callback-form input{
  width: 100%;
  padding: 4px;
  height: 40px;
  
}

.callback-form .btn{
  padding: 12px 0;
  margin-top: 20px;
}

.callback-form #form-message{
  
}

/* footer */

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20vh;
}

.footer a{
  color: #fff;
}

.footer a:hover{
  color: #A40606

}

.footer .social i {
  margin-right: 30px;
}

/* blog inner page */

.blog-post{
  padding-top: 20px;
  
}

#blog-cta{
  width: 33%;
  height: 50%
}